.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/36001874.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 152px 0 0 auto;
  padding: 10px 105px 11px 104px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 148px 0 0 auto;
  padding: 10px 55px 10px 54px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -268px 493px 0 38px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -432px 0 0 auto;
  padding: 10px 135px 11px 134px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 147px 0 0 auto;
  padding: 10px 102px 10px 101px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 38px -1px 60px auto;
  padding: 10px 121px 10px 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1705px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 953px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -685px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 431px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -268px;
    margin-right: 111px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -432px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }
}.u-section-2 {
  background-image: linear-gradient(#f0f6f8, #333333);
}

.u-section-2 .u-sheet-1 {
  min-height: 673px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 22px 128px 0 41px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1117px;
  margin: 41px auto 0 -15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-icon-1 {
  height: 151px;
  width: 151px;
  margin: 39px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: -151px 22px 0 242px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 258px;
}

.u-section-2 .u-container-layout-2 {
  padding: 2px 30px 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 140px;
  width: 140px;
  margin: 37px auto 0 13px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: -140px 60px 0 201px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 9px 95px 30px;
}

.u-section-2 .u-icon-3 {
  height: 140px;
  width: 140px;
  margin: 56px auto 0 33px;
}

.u-section-2 .u-text-4 {
  font-size: 3rem;
  margin: -147px 40px 0 219px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 299px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 96px 0;
}

.u-section-2 .u-icon-4 {
  height: 170px;
  width: 170px;
  margin: 33px auto 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  margin: -154px 12px 0 201px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 197px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 157px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 252px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 92px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -147px;
    margin-right: 71px;
    margin-left: 60px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -154px;
    margin-right: 23px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/279-2792224_website-background-design-hd.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 0 19px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 22px 553px 0 8px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 548px 0 0;
}

.u-section-3 .u-image-1 {
  width: 503px;
  height: 549px;
  margin: -569px 14px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1204px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 134px;
    margin-left: 564px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 62px;
    margin-left: 564px;
  }

  .u-section-3 .u-image-1 {
    width: 341px;
    height: 372px;
    margin-top: 20px;
    margin-right: 62px;
    margin-left: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 92px;
    margin-left: 522px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 20px;
    margin-left: 522px;
  }

  .u-section-3 .u-image-1 {
    width: 257px;
    height: 280px;
    margin-top: -569px;
    margin-right: 14px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 5273px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 414px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 414px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/24-249670_high-resolution-wooden-background-hd.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 414px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 800px;
  margin: 10px 156px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 20px;
  }
}