.u-section-1 {
  background-image: url("images/moon-minimalism-digital-art-artwork-black-background-hd-wallpaper-preview.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-text-1 {
  margin: 156px 601px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 33px 98px 0 132px;
}

.u-section-1 .u-image-1 {
  width: 883px;
  height: 370px;
  margin: 12px 73px 53px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 401px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 302px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 143px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 642px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 34px 174px 0;
}

.u-section-2 .u-group-1 {
  margin-top: 124px;
  margin-bottom: 0;
  min-height: 378px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 1081px;
  height: 390px;
  margin: -78px auto 0 69px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 822px;
    margin-left: 74px;
    margin-right: 74px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 880px;
    height: 318px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 14px;
  }

  .u-section-2 .u-image-1 {
    width: 660px;
    height: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 26px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 58px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 116px;
  }
}.u-section-3 {
  min-height: 466px;
}

.u-section-3 .u-gallery-1 {
  height: 342px;
  grid-gap: 17px 17px;
  margin-top: 70px;
  margin-bottom: 55px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 407px;
  }

  .u-section-3 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 773px;
  }

  .u-section-3 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1583px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1043px;
  }

  .u-section-3 .u-gallery-1 {
    height: 977px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/CHIME_app_banner_test8.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 373px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }
}